@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* shared styles */
.text-center {
  text-align: center;
}
.secondary-bg {
  background-color: rgb(251, 248, 245);
}

.text-primary {
  color: rgb(156, 156, 252);
}

.dark-2 {
  color: rgb(87, 86, 86);
}
.btn-primary {
  background-color: rgb(156, 156, 252);
  font-weight: bold;
  color: white;
  font-size: 20px;
  padding: 18px 35px;
  border-radius: 5px;
  border: none;
}

.section-title {
  font-size: 45px;
  font-weight: bold;
}
.section-description {
  font-size: 20px;
  font-weight: 300;
}
/* header */
.header {
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* nav styles */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 200px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin: 50px;
}

nav li a {
  text-decoration: none;
  font-size: 20px;
}

/* banner styles */

.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}
.banner-content {
  max-width: 580px;
}
.banner-greetings {
  font-size: 45px;
  font-weight: 600;
}

.banner-title {
  font-size: 60px;
  font-weight: 700;
}

.banner-profile-pic {
  width: 580px;
}

/* main styles */

main {
  max-width: 1140px;
  margin: auto;
}

main section {
  margin-top: 120px;
  margin-bottom: 130px;
}

/* about section */
.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}
.about-items {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.item-title {
  font-size: 20px;
  font-weight: 600;
}
.item-description {
  font-size: 17 px;
  font-weight: 200;
}

/* skills section styles */

.skills-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 24px;
}

.skill {
  padding: 30px;
  font-size: 20px;
  font-weight: 300;
  box-shadow: 0px 6px 50px 0px rgb(255, 242, 223);
  margin-bottom: 120px;
}
